[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
gunicorn = "*"
gevent = "*"
flask_uwsgi_websocket = "*"
websocket_client = "*"

[requires]

python_version = "3.6"
