[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
gunicorn = "*"
sanic = "*"
websockets = "5.0.1"
ecdsa = "*"
numpy = "*"


[requires]

python_version = "3.6"
